<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="/imagenes/icono.jpg" />

  <title>ClickHere PC</title>
  {{!-- css bostrap --}}

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/particulas.css">
  {{!-- fin css bostrap --}}
  {{!-- librería de iconos --}}
  <link rel="stylesheet" href="/recursos_disenio_cb/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/recursos_disenio_cb/assets/css/main.css" />
  {{!-- js inicio--}}
  <script language="JavaScript" type="text/javascript" src="/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/javascript_tabla.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script type="text/javascript" src="/javascript/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
  <script src="/recursos_disenio_cb/assets/js/jquery.scrolly.min.js"></script>
  <script src="/recursos_disenio_cb/assets/js/browser.min.js"></script>
  <script src="/recursos_disenio_cb/assets/js/breakpoints.min.js"></script>
  <script src="/recursos_disenio_cb/assets/js/util.js"></script>
  <script src="/recursos_disenio_cb/assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
  {{!-- Material desing --}}
  <link rel="stylesheet" href="/materialdesing/css/mdb.min.css">
  {{!-- Material desing --}}
  <!-- MAIN CSS -->
</head>

<body class="">

  {{!-- barra navegacion oscura --}}
  {{!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> --}}
  {{!-- barra navegación clara --}}

  <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: #fff">
    <a class="navbar-brand" href="/"><img src="/imagenes/logo.png" width="300" height="65" alt=""></a>
    <ul class="navbar-nav mr-auto"></ul>
    
    
    <a href="http://es.web-counter.net" title="contador de visitas"><img src="http://www.web-counter.net/count_20091204.php?c=1g9TD7eVU6w" style="border:0;padding:0;margin:0;" alt="contador de visitas"></a>
    <p>Contador</p>
    <form action="/api/coincidencia" method="post" class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" id="busqueda" name="buscar" type="search" placeholder="Buscar productos"
        aria-label="Search">
      <button type="submit" id="btnconsultar3" class="btn btn-outline-warning"><i class="fa fa-search"
          style="color: #f80;"></i></button>
    </form>
    {{!-- <a class="nav-link" href="#"> <p style="color:#f80"><i class="fa fa-user" style="color: #f80;"></i> Iniciar Sesión</p>   
        <span class="sr-only">(current)</span>
      </a> --}}
    <div>
    </div>
  </nav>
  <div class="icon-bar">
    <a href="https://www.facebook.com/clickherepcecuador" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  </div>


  <nav class="navbar sticky-top  navbar-expand-lg navbar-light" style="background-color: #fba744">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item " hidden>
          <a class="nav-link" href="/api/productos">Productos
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{!-- HABILITAR CUANDO ESTE FUNCIONAL
        <li class="nav-item ">
					<a class="nav-link" href="api/productos">Productos
						<span class="sr-only">(current)</span>
					</a>
				</li>
        --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/api/cases">Computación</a>
            <a class="dropdown-item" href="/api/seguridad-2">Seguridad</a>
            <a class="dropdown-item" href="/api/portatiles">Portatiles</a>
            <a class="dropdown-item" href="#" hidden>Proteccion electrica</a>
            <a class="dropdown-item" href="/api/impresoras">Impresoras</a>
            <a class="dropdown-item" href="#" hidden>Bolsos y Mochilas</a>
            <a class="dropdown-item" href="#" hidden>Mesas y muebles</a>
            <a class="dropdown-item" href="#" hidden>Electrodomésticos</a>
            <a class="dropdown-item" href="/api/redes">Redes</a>
            <a class="dropdown-item" href="#" hidden>Electrónica</a>
            <a class="dropdown-item" href="#" hidden>Materiales varios</a>
            <a class="dropdown-item" href="#" hidden>Domótica</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/api/cotizacion">Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/acerca_de">Acerca de</a>
        </li>

        {{!-- HABILITAR CUANDO ESTE FUNCIONAL
        <li class="nav-item">
					<a class="nav-link" href="/api/edicion">Edicion</a>
				</li>
        --}}
        {{!-- <li class="nav-item">
					<a class="nav-link disabled" href="/juego">Juego</a>
				</li> --}}
        <li class="nav-item">
          <a class="nav-link" href="https://wa.me/593995924867" target="_blank"><i class="fa fa-whatsapp"
              style="color: rgb(25, 202, 63);"></i>
            Escribenos a Whatsapp</a>
        </li>
        
      </ul>
    </div>
  </nav>

  <br>
  {{!-- carrito --}}
  <div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
<div class="btn-group dropleft">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
            {{# if session.cart.totalItems }}
            <span>({{session.cart.totalItems}})</span>
            {{/if}}
          </a>
          {{# if session.cart.totalItems }}
          <div class="dropdown-menu">
            <div class="cart">
              {{# each session.cart.items }}
              <div class="row">
                <div class="col-xs-4">
                  {{ this.item.PRDNOMBRE }}
                </div>
                <div class="col-xs-4 text-right">
                  {{ this.quantity }}

                </div>
                <br>
                <div class="col-xs-4 text-right">
                  $ {{ this.PRDPVP }}
                </div>
              </div>
              {{/each}}
              <div class="row">
                <div class="text-right">
                  <div class="totalPrice">Total: $ {{ session.cart.totalPrice }}</div>
                  <a href="/api/carrito" class="btn btn-success">Confirmar</a>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
    </div>
  </div>
        
        {{!-- carrito --}}
  {{!-- barra navegación clara fin --}}
  {{{ body }}}
  {{!-- footer inicio--}}

  <!-- Footer -->
  <footer class="page-footer font-small special-color">

    <div style="background-color: #e8902af2;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 colorblanco">Siguenos y conoce más en nuestras redes sociales!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a href="https://www.facebook.com/clickherepcecuador" target="_blank" class="fb-ic">
              <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a href="https://www.instagram.com/" target="_blank" class="ins-ic">
              <i class="fa fa-instagram white-text"></i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Clickhere PC</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Empresa dedicada a la venta de unidades informáticas, reparaciones y demás soluciones informáticas.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Productos</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/api/seguridad">Instalación de cámaras de seguridad</a>
          </p>
          <p>
            <a href="/api/mantenimiento">Servicio técnico especializado</a>
          </p>
          <p>
            <a href="/api/cotizacion">Componentes y accesorios informáticos</a>
          </p>
          <p>
            <a href="#!">Desarrollo a la medida</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        {{!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Links de usuario</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/api/signin">Tu usuario</a>
          </p>
          <p>

            <a href="api/verstock">Shipping Rates</a>
          </p>
          <p>
            <a href="api/edicion">Ayuda</a>
          </p>

        </div> --}}
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Ecuador, Manabí, Manta Calle 12 y Avenida 20 Esquina.<iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3989.2693324970755!2d-80.7300721!3d-0.9504897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be10b49195bbd%3A0x7b7c847942efd86b!2sClickHere.PC!5e0!3m2!1ses!2sec!4v1570635443192!5m2!1ses!2sec"
              frameborder="0" style="border:0" allowfullscreen></iframe></p>
          <p>
            <i class="fa fa-envelope mr-3"></i> clickhere@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> +593 995924867</p>
          <p>
            <i class="fa fa-phone mr-3"></i> +593 995924867</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> clickhere-pc.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  {{!-- footer fin--}}
</body>

</html>