<div><br></div>
<div class="container">
    {{#if products }}
    <div class="cart-body">
        <ul class="list-group">
          <div class="card-header font-weight-bold text-light" style="background-color: #fbaa3f;">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Carrito
          </div>
            {{# each products }}
            <li class="list-group-item clearfix">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-2 text-center">
                  <a title="{{this.PRDNOMBRE}}" href="/api/producto-single/{{this.item.PRDIDENTI}}">
                  <img onerror="this.src='/imagenes/sin_imagen.jpg';" class="thumbnail img-portfolio img-hover mb-3" src="/imagenes/{{this.item.PRDIDENTI}}.png" width="120" height="80">
                  </a>
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5">
                    {{!-- <h4><strong>{{ this.item.title }}</strong></h4><br /> --}}
                    <strong>Descripción:</strong><br>
                    {{{this.item.PRDNOMBRE}}}
                </div>
                <div class="col-12 text-sm-center col-sm-12 col-md-1">
                    <strong>Precio C/U:</strong><br>
                    $ {{division this.quantity this.PRDPVP }}
                </div>
                <div class="col-12 text-sm-center col-sm-12  col-md-1">
                  <br><br>
                    <strong> X</strong>
                </div>
                <div class="col-12 text-sm-center col-sm-12  col-md-2">
                    <strong> Cantidad: </strong>
                    <br><br>
                    {{ this.quantity }}
                </div>
                <div class="col-xs-2 text-right">
                    <a href="/api/remove/{{this.item.PRDIDENTI}}" class="btn btn-danger"> <i class="fa fa-trash"></i></a>
                </div>
              </div>
            </li>
            {{/each}}
            <li class="list-group-item clearfix">
              <div class="text-right">
                <strong style="color: red;">Total: $ {{decimal totalPrice }} </strong>
              </div>
            </li>
            <br>
            <p hidden id="importante">
              {{# each products as |item i| }} 
              /////////Número item: {{i}} ******Codigo:
                {{this.item.PRDIDENTI}} ****Descripcion: {{this.item.PRDNOMBRE}}
                ******Cantidad: {{this.quantity}} ****** Precio unidad: {{this.item.PRDPVP}} ******Precio total:
                {{this.PRDPVP}}/////////
                {{/each}}</p>
            <div class="container-fluid row">
                <script>
                    var parrafo = document.getElementById('importante');
                    var contenido = parrafo.innerHTML;
                    window.onload = function () {
                        document.getElementsByName("orden").value = contenido;
                    }
                    var contenido = ''{{# each products as |item i| }}' /////////Número item: '{{i}}' ******Codigo: '{{this.item.PRDIDENTI}}' ****Descripcion: '{{this.item.PRDNOMBRE}}' ******Cantidad: '{{this.quantity}}' ****** Precio unidad: '{{this.item.PRDPVP}}' ******Precio total: '{{this.PRDPVP}}'/////////'{{/each}}' PRECIO TOTAL: XXXXX'{{totalPrice}}'XXXXX>';
                    pdf.create(contenido).toFile('./salida.pdf', function (err, res) {
                        if (err) {
                            console.log(err);
                        } else {
                            console.log(res);
                        }
                    });
                </script>
                <div class="col-md-6">
                    <script>
            function validar() {
              //obteniendo el valor que se puso en el campo text del formulario
              var name = document.getElementById("nombre").value;
              var email = document.getElementById("email").value;
              var comentario = document.getElementById("comentario").value;
              var telefono = document.getElementById("telefono").value;
              var fail = swal.fire({
                title: "Su petición no fue enviada",
                text: "Por favor, asegurese de llenar todos los datos del formulario.",
                icon: "warning",
                buttons: true,
              });
              //la condición
              if (name.length == 0 || /^\s+$/.test(name)) {
                fail;
                return false;
              } else {
                if (email.length == 0 || /^\s+$/.test(email)) {
                  return false;
                  fail;
                } else {
                  if (comentario.length == 0 || /^\s+$/.test(comentario)) {
                    return false;
                    fail;
                  } else {
                    if (telefono.length == 0 || /^\s+$/.test(telefono)) {
                      return false;
                      fail;
                    } else {
                      swal.fire({
                        title: "Gracias por contactarnos",
                        text: "Su petición fue enviada en breve nos contactaremos con usted.",
                        icon: "success",
                        buttons: true,
                      })
                      return true;
                    }
                  }

                }

              }


            }
                    </script>
                  <div class="card border-dark mb-3">
                    <h2>Por favor, llene los datos de contacto para realizar el pedido</h2>
                    <form action="/api/postmail_ordeCompra" id="formulario" method="post" onsubmit="return validar()"
                        enctype="application/x-www-form-urlencoded">
                        <h3 style="text-align: center;">Formulario de contacto:</h3>
                        {{!-- Producto oculto --}}
                        <textarea name="orden" name="hide" style="display:none;"
                            id="orden">{{# each products as |item i| }} 
                            ---------Número item: {{i}} _________Codigo: {{this.item.PRDIDENTI}}                   
                            Descripcion: {{this.item.PRDNOMBRE}}                   
                            Cantidad: {{this.quantity}}                  
                            Precio unidad: {{this.item.PRDPVP}}                   
                            Precio total: {{this.PRDPVP}}_________
                            {{/each}}
                             
                            PRECIO TOTAL:                   {{totalPrice}}</textarea>

                        {{!-- <input type="hidden" class="form-control" id="orden" name="orden" placeholder="Nombres"
                            value={{# each products as |item i| }} Numero item: {{i}} <br>{{this.item.PRDNOMBRE}}_
                        Cantidad: {{this.quantity}} Precio unidad: {{this.item.PRDPVP}} Precio total: {{this.PRDPVP}}
                        <br> {{/each}}> --}}

                        <br>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres">
                        <br>
                        <input type="email" id="email" class="form-control" name="email" placeholder="Correo">
                        <br>
                        
                        <textarea  type="text" id="comentario" class="form-control" name="comentario"
                            placeholder="Mensaje"></textarea>
                        <br>
                        <input id="prodId" name="razon" type="hidden" value="Pedido de productos.">
                        <input type="number" id="telefono" class="form-control" name="telefono"
                            placeholder="Telefono"><br>
                        <input href="/api/removeALL"  type="submit" value="Confirmar" class="btn btn-primary" id="enviar">
                        
                    </form>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="G6D8UH8ZLUXNL">
                      <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
                      <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                  </div>
                </div>
            </div>
        </ul>
    </div>
    
    <hr>

    {{ else }}
    <div class="col-md-2 col-6">
      <img src="/imagenes/sin_imagen.jpg" alt="">
    </div>
    <h3 class="font-weight-bold" style="color: rgba(93, 89, 89, 0.712);">
        Tu carrito de pedidos esta vacío.
    </h3>
    {{/if}}
</div>
