<body>
    <br>
    <br>
    <div class="container">
        <div id="contenido" class="">
            <div class="row">

                {{#each data}}


                <div class="col-md-4 product-block" id="{{this.PRDIDENTI}}">
                    <section class="box style1">

                        <div class="main-category-image">
                            <img onerror="this.src='/imagenes/sin_imagen.jpg';"
                                class="thumbnail img-portfolio img-hover mb-3" src="/imagenes/{{this.PRDIDENTI}}.png"
                                width="200" height="200">
                            <div class="caption">
                                <div><strong>Código: </strong> {{this.PRDIDENTI}}</div>
                                <h5> <strong>Descripcion: </strong> {{this.PRDNOMBRE}}</h5>
                                <div class="price-mob"><strong>Precio: </strong>$ {{this.PRDPVP}}</div>
                                <div class="price-mob"><strong>Stock: </strong>{{this.PUBSTOCK}}</div>
                                {{!-- <button class="openBtn"><span class="float-right"><a><i class="fa fa-search"
                                                aria-hidden="true"></i></a></span></button> --}}
                            </div>
                        </div>
                    </section>
                    {{!-- <script>
                        $('.openBtn').on('click', function () {

                            Swal.fire({
                                imageUrl: '/imagenes/{{this.PRDIDENTI}}.png',
                                imageHeight: 300,
                                imageAlt: 'A tall image'
                            })
                        });

                    </script> --}}
                </div>
                {{/each}}

            </div>

        </div>

        <div style="width:400px">
            <table class="paginated">
                <thead>
                    <tr>
                        <th class="col">Play Id</th>
                        <th class="col">Question1</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                </tbody>

            </table>
            <span id="nextValue">next</span><br><span id="PreeValue">Pre</span>
        </div>
    </div>